#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div {
  display: block;
}

.hidden {
  display: none !important;
}

.App {
  background-color: rgba(31, 30, 30, 0.811);
  padding: 32px;
  border-radius: 12px;
}

.header {
  line-height: 1.15;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noteworthy', sans-serif;
}
.title img {
  width: 400px;
  margin: 0px 12px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  padding: 12px;
  margin: 0px 32px;
  color: black;
  background-color: rgb(241, 241, 225);
  box-shadow: 0 0 5px 2px #ffffff4d;
  border-radius: 12px;
  cursor: pointer;
  transition: .15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0));
  transform-style: preserve-3d;
}
.card.flipped {
  --rotate-X: 180deg
}

.card .front, .card .back {
  position: absolute;
  margin: 32px;
  line-height: 1.25;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card .back {
  transform: rotateX(180deg);
}

.front {
  position: relative;
}
.img-indicator {
  position: fixed;
  margin: 12px;
  left: 0;
  top: 0;
}

button {
  margin: 12px;
  width: 80px
}
.random-button {
  width: 200px
}

.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 24px;
  margin-bottom: 24px;
}
.score-container > * {
  padding: 0px 12px;
}

.start-container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 24px;
}

.tutorial {
  max-width: 500px;
  margin: 0 auto;
  line-height: 20px;
  color: rgb(158, 160, 160);
}

.start-button {
  font-size: 4rem;
  width: inherit;
  height: 250px;
  transition: 0.25s;
}
.start-button:hover {
  border: 1px solid #71e3e2;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.25s;
  filter: drop-shadow(0 0 5px #71e3e2);
}
.start-button:active {
  color: #0ae8d9;
  transform: scale(0.97);
  transition: 0.25s;
  filter: drop-shadow(0 0 15px #0ae8d9);
}

.guess-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  margin: 12px 0;
}
.guess-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.check-button {
  width: 250px;
  margin: 0;
}
.reset-button {
  width: 160px;
  margin: 0 12px 0 0;
}
.text-input {
  text-align: center;
  color: rgb(241, 245, 245);
  font-size: 1rem;
  border: none;
  background-color: #1a1a1a;
  height: 36px;
  width: 100%;
  border-radius: 8px;
  margin-right: 12px;
}
.text-input:focus-visible {
  outline: none;
}

.batch-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 6px;
  width: 300px;
  margin: 0 auto;
  margin-top: 12px;
}
.batch-title {
  margin: 0 18px;
}

.batch-up, .batch-down {
  margin: 0 6px 0 0;
  width: 50px;
}
.batch-up:hover, .batch-down:hover {
  border: 1px solid #71e3e2;
}

.button-container {
  transition: 0.25s;
  background-color: #1a1a1a;
  margin: 0 32px;
  border-radius: 12px;
}

#Correct, #Wrong {
  pointer-events: none;
  user-select: none;
  opacity: 50%;
}

.card#easy {
  background-color: aquamarine;
}
button#easy:hover {
  border: 1px solid aquamarine;
}
.card#medium {
  background-color: rgb(239, 244, 139);
}
button#medium:hover {
  border: 1px solid rgb(239, 244, 139);
}
.card#hard {
  background-color: rgb(241, 169, 157);
}
button#hard:hover {
  border: 1px solid rgb(241, 169, 157);
}

@keyframes reshuffle {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.7) rotate(5deg);
    box-shadow: 0 0 50px 2px #ffffff;
  }
  20% {
    transform: rotate(-5deg);
    box-shadow: 0 0 20px 2px #ffffff;
  }
  40% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.reshuffle {
  animation-name: reshuffle;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}  

@keyframes wrong {
  0% {
    transform: translateX(-2px);
    box-shadow: 0 0 10px 2px #d30202;
  }
  10% {
    transform: translateX(-10px);
  }
  30% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.wrong-guess {
  animation-name: wrong;
  animation-duration: 250ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes correct {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px 2px #0dea1c;
  }
  10% {
    transform: scale(1.025);
  }
  25% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.correct-guess {
  animation-name: correct;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 480px) {
  #root {
    width: 100vw;
    height: 100vh;
  }
  /* :root {
    background-image: none !important;
  } */
  
  button, input {
    font-size: 3.5vw !important;
  }

  .App {
    width: 100vw;
    margin: 36px 0px;
    padding: 24px 0px;
    border-radius: 0px;
  }

  .header {
    padding: 0px 24px;
    margin: 0 auto;
  }
  .header > h3, .header > div {
    font-size: 4vw;
  }

  .introduction-container {
    margin: 0 auto;
  }

  .title {
    margin: 0;
    padding: 0;
  }
  .title h1 {
    font-size: 8vw;
  }
  .title img {
    width: 50vw;
    margin: 0px 12px;
  }

  .card-count {
    margin: 12px 0px;
  }

  .card {
    height: 130px;
    font-size: 3.5vw;
  }
  .card .front, .card .back {
    position: absolute;
    margin: 32px;
    line-height: 1.25;
    justify-content: center;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    visibility:visible;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .img-indicator {
    position: static !important;
    margin: 0;
    width: 30px;
  }
  .front {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .front p {
    margin: 6px 0 36px 0;
  }

  .introduction-container {
    font-size: 80% !important;
  }

  .start-container {
    margin: 0;
  }
  .start-button {
    width: 80%;
    height: 100px;
    font-size: 36px !important;
  }

  .guess-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    margin: 12px 0;
  }

  .reset-button {
    margin: 12px 12px 0 12px;
    width: 100%;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .button-container > *{
    margin: 0;
    padding: 24px 0;
  }

  .check-button {
    height: 38px;
  }

  .batch-selector {
    width: 78vw;
    font-size: 3.5vw;
  }
}